.item a {
    color: #aedcee;
    text-decoration: none;
    display: block;
    padding: 4px;
}
.item a:hover {
    color: #58b3ca;
}
.item a.activeLink {
    color: #479cb1;
    border-bottom: 0.5px solid #479cb1;
}
.item_friends {
    margin-top: 20px;
    font-weight: bold;
}