.header {
    grid-area: h;
    background-color: #141518;
  }
  .header img {
    width: 60px;
  }
  .loginBlock {
    float: right;
  }
  .loginBlock a,  .loginBlock span{
    text-decoration: none;
    font-weight: bold;
    color:  white;
  }