.header {
    grid-area: h;
    background-color: #1f226b;
    display: flex;
    justify-content: space-between;
  }
  .header img {
    width: 40px;
  }
  .loginBlock {
    margin-right: 20px;
    display: flex;
    align-items: center;
  }
  .loginBlock a,  .loginBlock span{
    text-decoration: none;
    font-weight: bold;
    color:  white;
  }