.nav {
    grid-area: n;
    background-color: #1f226b;
    padding: 20px;
    text-align: center;
  }

.navFriendsItemBlock {
    border-top: 0.5px solid #aedcee;
    margin-top: 12px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
}