.dialogs {
    display: grid;
    grid-template-columns: 4fr 8fr;
}
.dialogItems {
    border-right: 1px solid #002c3e;
}

.dialogItems .active {

    color: #f7444e;

}

.message {
    padding: 10px;
}
.textarea {
    margin-top: 100px;
}